<!DOCTYPE html>
<html lang="en">

<head>
    <%- myCss.style %>
        <title>Address already sent!</title>
</head>

<body>
    <div class="textArea">
        <h1>You have already sent your wallet address, check it later!</h1>
    </div>
</body>

</html>