<style>
body{
    background-color: rgb(11, 175, 11);
}

.textArea{
    background-color: white;
    color: rgb(11, 175, 11);
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 7%;
}

.button{
    background-color: rgb(11, 175, 11); color: white;
    margin:auto;
    font-size:larger;
}

.addressForm{
    margin: auto;
    font-size: larger;
}

.buttonForm{
    background-color: rgb(11, 175, 11); color: white;
    margin:auto;
    font-size: larger;
}

</style>