<style>
body{
    background-color: rgba(5, 116, 5, 0.944);
}

.textArea{
    background-color: white;
    color: rgba(5, 116, 5, 0.944);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 7%;
    width: fit-content;
}

.button{
    background-color: rgba(5, 116, 5, 0.944); color: white;
    width: 30%; margin-left: 10%;
    font-size:larger;
}

.addressForm{
    margin-left: 40%;
    font-size: larger;
}

.buttonForm{
    background-color: rgba(5, 116, 5, 0.944); color: white;
    width: 30%; margin-left: 34%;
    font-size: larger;
}

</style>